body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #333;
    padding: 10px;
}

.header a {
    text-decoration: none;
    color: #fff;
    margin: 0 10px;
    font-weight: bold;
}

.header a:hover {
    color: #ff8800;
}

h1 {
    color: #333;
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
    text-align: right;
    margin-right: 20px;
}

li {
    margin: 10px 0;
}



img {
    max-width: 50%; 
    height: auto;
    display: block;
    margin: 10px auto;
    border: 2px solid #333;
}

img[src^="desmuntatge/"] {
    content: url("desmuntatge/" attr(src));
}
